@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=PT+Sans+Caption&family=Poppins:wght@300;400&family=Quattrocento&family=Roboto:wght@100;300;400&display=swap');
* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-size: 15px; 
    font-family: 'Lusitana', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Roboto', sans-serif;
    color: black; 

}
a {
    text-decoration: none; 
}

.container {
    width: 100%; 
    display: flex; 
    align-items: cover; 
}

/*Header*/
#header {
    display: flex; 
    position: sticky;
    background-color: transparent; 
    left: 0; 
    top: 0; 
    z-index: 9999;
    width: 100%;
    height: auto;  
    text-align: center; 
    display: flex;
    transition: 0.6s; 
    transition: background-color 0.4s ease-in-out;
}
#header.scrolled{
    background: black; 
}

#header .header {
    background-color: transparent;
    min-height: 8vh; 
    transition: 0.6s; 
    width: 100%; 
}

#header .entire-bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
    padding: 0 12px;
    background-color: black; 
}
#header .entire-bar .upperleft{
    padding: 2px; 
    padding-left: 20px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}
#header .entire-bar .logo img{
    height: 90px;
    width: 90px; 
    top: 0; 
    left: 0; 
    padding: 2px;
    margin: 0 auto; 
}
#header .bigname h1{
    top: 0; 
    right: 0; 
    width: 100%; 
    display: flex; 
    text-transform: uppercase;
    position: relative; 
    text-align: left;
    font-size: 2rem; 
    color: white;
    letter-spacing: .4rem; 
    padding: 10px; 
}

#header .navlist {
    padding: 0 27px; 
    text-align: center; 
    justify-content: center; 
}
#header .hamburger {
    height: 60px; 
    width: 60px; 
    display: inline-block; 
    position: relative; 
    border-radius: 50%; 
    margin: 0 auto;
    z-index: 100;
    cursor: pointer;
}
#header .hamburger .bar{
    margin-top: 25px; 
    margin-left: 12px; 
    height: 2px; 
    width: 30px;
    background-color: white;
    position: relative; 
    z-index: -1; 
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute; 
    height: 100%; 
    width: 100%; 
    right: 0; 
    background-color: white;
    transition: .3 ease; 
    transition-property: top, bottom; 
}
#header .hamburger .bar::after{
    width: 35px; 
    top: 8px; 
}
#header .hamburger .bar::before{
    width: 35px; 
    bottom: 8px; 
}
#header .hamburger.active .bar::before{
    bottom: 0; 
}
#header .hamburger.active .bar::after{
    top: 0; 
}
#header .navlist ul{
    list-style: none; 
    position: absolute;
    background-color: black; 
    opacity: 1;
    width: fit-content; 
    height: 80vh; 
    right: 100%;
    top: 0; 
    display: flex;
    flex-direction: column;  /*this makes it aligned as words from top to bottom */
    justify-content: center; 
    align-items: center; 
    z-index: 1; 
    overflow-x: hidden; 
    transition: .5s ease left;
}
#header .navlist ul.active{
    right: 0%; 
}
#header .navlist ul a{
    font-size: 2.5rem; 
    font-weight: 500; 
    letter-spacing: .2rem; 
    text-decoration: none;
    color: rgb(186, 143, 247); 
    text-transform: uppercase; 
    /*makes it more separated between the words*/
    padding: 10px; 
    display: block;
    transition: color 0.4s ease-in-out; 

}
#header .navlist ul li:hover a{
    color:rgb(48, 48, 194);
}


#top  {
    height: 40vh; 
    width: 100%; 
    display: flex; 
    overflow: hidden; 
}
#top .top{
    display: flex;
}
.top .background{
    position: absolute; 
    width: 100%; 
    max-height: 40vh;
    overflow: hidden;
}
.top .background video{
    width: 100%;
}
.top .text{
    margin: 50px 220px;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    padding: 10px; 
    position: relative;

}
.text .header{
    float: left; 
    justify-content: center; 
    align-items: center; 
    padding-top: 10px;
}
.top .header h1{
    position: relative;
    color:rgb(186, 143, 247);
    text-transform: uppercase;
    font-size: 3rem;
}
.top .text .download{
    position: relative; 
    float: right;
    justify-content: center; 
    align-items: center; 
}
.text .download button{
    justify-content: center;
    align-items: center; 
    font-size: 1.7rem;
    display: flex; 
    padding: 7px; 
    transition: 1s ease transform; 
    border: 3px solid rgb(186, 143, 247);
    box-shadow: 10px 3px 0px rgb(186, 143, 247);
}
.text .download button:hover{
    background-color: rgb(186, 143, 247);
    box-shadow: 0px 0px 0px rgb(186, 143, 247);

}

#resume{
    width: 100%; 
    height: auto;
    background-color: rgb(186, 143, 247);
    display: flex; 
    padding-top: 80px;
}
#resume .resume{
    margin: 20px 160px; 
    position: relative; 
    margin-top: -190px;
    background-color: black; 
    display: block; 
    min-height: 32vh;
    box-shadow: 7px 3px 20px 1px rgb(43, 42, 42); 
    border: 2px solid black; 

}
.resume .resume-top{
    background-color: rgb(183, 183, 183);
    display: inline-block;
    width: 100%; 
    align-items: center; 
    max-height: 35vh; 
    flex-direction: column;
    justify-content: center;
    padding-left:0px; 
    text-align: left; 
}
.resume .resume-top .elements{
    position: relative; 
    display: flex; 
    justify-content: space-between;
    max-height: 35vh; 
    text-align: left; 
    width: 100%; 
}
.resume-top .left{
    width: 26%;
    max-height:35vh;
}
.resume-top .left img{
    align-items: center; 
    width: 50%; 
    top: 0; 
    left: 0; 
    margin: 0 auto; 
    position: relative; 
    width: 100%;
    max-height: 35vh;
    min-height: 35vh; 
}
.resume-top .right{
    flex-direction:row; 
    display: inline-block; 
    width: 71%;
    justify-content: center; 
    text-align: left; 
    max-height: 35vh;
    position: relative; 
    overflow: hidden; 
    padding: 15px;

}
.resume-top .header{
    display: inline-block;
    align-items: center; 
    line-height: 2.5rem;
    position: relative;
    width:auto;
    margin-top: 40px;
    padding: 20px 30px 40px 0px;
    height: auto;
}
.resume-top .header h1{
    font-size: 3.1rem;
    padding-bottom: 10px; 
    text-transform: uppercase;
}
.resume-top .links{
    display: inline-block;
    width: auto;
    position:relative; 
    margin: 10px 20px;
}
.resume-top .links a{ 
    display: block; 
    padding: 25px 1px;
    align-items: center;
    justify-content: flex-start; 
    overflow: hidden;

}
.resume-top .links img{
    height: 4vh;
    display: inline-block;
    align-items: center;
    justify-content: center;

}
.resume-top .links h1{
    display: inline-block; 
    padding-left: 15px; 
    color:black; 
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}
.resume-top .links h1:hover{
    color:blue;
}

.links .mail img{
    height: 8vh;
}
.resume .resume-bottom{
    background-color: white;
    padding: 30px 60px; 
    display: inline-block; 
}
.resume .resume-bottom .top{
    display: block;
    padding-bottom: 10px;
}
.resume-bottom .top h1{
    display: inline-block;
    text-transform: uppercase;
}
.resume-bottom .top h2{
    font-size: 1.4rem;
    padding: 7px 0;
    color:rgb(48, 48, 48);
}
.resume .resume-bottom .top .border{ 
    height: 3.5px; 
    width: 100%; 
    margin: 5px 0; 
    overflow: hidden; 
    align-items: center; 
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    display: block; 
    position: relative; 
}
.resume .resume-bottom .left{
    display: inline-block; 
    max-width: 70%; 
    min-width: 60%; 
    position: relative; 
    justify-content: flex-start; 
    overflow: hidden;
}
/*Buttons */
.resume .resume-bottom .left .items{
    display: block; 
}
.resume-bottom .left .buttons{
    display: inline-block; 
    width: 100%;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-top: 5px;

}
.resume-bottom .left button{
    display: inline-block; 
    font-size: 1.65rem; 
    text-decoration: none;
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0 50px;
    padding-bottom: 0px; 
    padding-left: 0px;
    text-transform: uppercase;
}
.resume-bottom .left button:hover{
    color: rgb(186, 143, 247);
}
.resume-bottom .left .line{
    height: 3.5px; 
    width: 100%; 
    overflow: hidden; 
    align-items: center; 
    justify-content: flex-end; 
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    display: inline-block; 
    position: relative; 
    margin: 0 auto;
}

/*Content Inside*/
.resume-bottom .left .content {
    display: none; 
    padding: 15px;
    border-radius: 5px;
    color: black; 
    width: 100%;
    height: auto; 
    margin-top: 10px;
}
.resume-bottom .left #content1{
    display: block;
}
.resume-bottom .left .content .box{
    border-left: 2px solid rgb(186, 143, 247);
    padding-left: 10px;
    

}
.resume-bottom .left .content .item::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    top: 50;
    left: 0;  
    background-color: white;
    margin-left: 6.4px;
    border: 4px solid rgb(186, 143, 247);
    box-shadow:1px 1px 10px 1px rgb(186, 143, 247);
}
.content .item{
    display: block;
    line-height: 1.6rem;
    margin-bottom: 15px;
    margin-left: 20px;


}
.content .item h1{
    font-weight: bold;
    float: left;
    clear:both;
    font-size: 1.5rem; 
 

}
.content .item h1 span{
    color: rgb(165, 119, 229);
}
.content .item h2{
    float: right;
    font-size: 1.4rem;
}
.content .item h3{
    clear: both;
    font-style: italic;
    font-size: 1.1rem;
    color:#918e8e;
}
#content4 .item h3{
    color: rgb(78, 77, 77);
}
.content .item li{
    margin-top:5px;
    margin-left: 30px;
    color:rgb(61, 61, 61);
}
.content .item h4 span{
    font-weight: bold; 
}
.content .item h5{
    margin-top: 10px;
    font-size: 1.1rem;
}
.content .item .tech{
    display: inline-block;
    width: 100%;
}
.content .item .tech .elements{
    display: inline-block;
    margin: 5px 15px;
    margin-left: 0px; 
    position: relative;
    width: auto;
    min-width: 60px;
    height: auto;
    background: rgb(165, 119, 229);
    border-radius: 20px;
    padding: 2px 10px;
    align-items: center;
    text-align: center;
}


/*Right side of resume*/
.resume-bottom .right {
    width: 25%; 
    justify-content: flex-end; 
    margin-top: 5px; 
    float: right; 
    clear: both;

}
.resume-bottom .right{
    display: block; 
}
.right h1{
    font-size: 1.7rem; 
    padding-bottom: 7.3px;
    padding-top: 10px;
    text-transform: uppercase;
}
.right .skills h1{
    padding-top: 0px; 
}
.right h2{
    padding: 5px 0px; 
}
.right h3{
    padding: 5px 15px;
    display: block;
    align-items: center; 
    justify-content: flex-start; 
}
.right h3::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px; 
    border-radius: 50%;  
    background-color: white;
    border: 4px solid rgb(186, 143, 247);
    display: inline-block;
}
.right .line{
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    height: 3.5px; 
    width: 100%; 
    overflow: hidden; 
    align-items: center; 
    display: block; 
    padding-top: 0px;
    margin-right: 0px; 
}
.right .frameworks h4{
    display: inline-block;
    padding: 4px 10px;
    margin: 5px 5px; 
    background-color:rgb(186, 143, 247);
    border-radius: 15%; 
}
.right .languages h2{
    font-size: 1.3rem;
    margin-top: 5px; 
}
.right .interests h2{
    font-size: 1.3rem; 
    margin-top: 5px; 
    line-height: 1.5rem;
}
@media only screen and (min-width: 1200px) {
     /*Text in line for header */ 
  #header .hamburger{
    display: none; 
 }
#header .navlist ul { 
    position: initial;
    width: fit-content;
    list-style: none; 
    display: block; 
    align-items: center;
    text-align: center; 
    height: auto; 
    background-color: transparent;
}
#header .navlist ul li{
    display: inline-block; 

}
#header .navlist ul a{
    color: rgb(186, 143, 247); 
    padding: 10px; 
    display: block; 
    text-transform: uppercase; 
    text-decoration: none; 
    font-size: 1.3rem; 
    letter-spacing: .2rem; 
    text-align: center;
    margin: .2rem;
    transition: color 0.4s ease-in-out; 
}

#header .navlist ul li:hover a{
    color:rgb(48, 48, 194);
}

    .resume .resume-bottom .left{
        width: 70%;
    }
}
@media only screen and (min-height: 900px) {
    #resume .resume{

    }   
}

