@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=PT+Sans+Caption&family=Poppins:wght@300;400&family=Quattrocento&family=Roboto:wght@100;300;400&display=swap');
* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-size: 15px; 
    font-family: 'Lusitana', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Roboto', sans-serif;
    color: black; 

}
a {
    text-decoration: none; 
}

.container {
    width: 100%; 
    display: flex; 
    align-items: cover; 
}
/*Header*/
#header {
    display: flex; 
    position: sticky;
    background-color: transparent; 
    left: 0; 
    top: 0; 
    z-index: 9999;
    width: 100%;
    height: auto;  
    text-align: center; 
    display: flex;
    transition: 0.6s; 
    transition: background-color 0.4s ease-in-out;
    background-color: black; 
}
#header.scrolled{
    background: black; 
}

#header .header {
    background-color: transparent;
    min-height: 8vh; 
    transition: 0.6s; 
    width: 100%; 
}

#header .entire-bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
    padding: 0 12px;
}
#header .entire-bar .upperleft{
    padding: 2px; 
    padding-left: 20px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}
#header .entire-bar .logo img{
    height: 90px;
    width: 90px; 
    top: 0; 
    left: 0; 
    padding: 2px;
    margin: 0 auto; 
}
#header .bigname h1{
    top: 0; 
    right: 0; 
    width: 100%; 
    display: flex; 
    text-transform: uppercase;
    position: relative; 
    text-align: left;
    font-size: 2rem; 
    color: white;
    letter-spacing: .4rem; 
    padding: 10px; 
}

#header .navlist {
    padding: 0 27px; 
    text-align: center; 
    justify-content: center; 
}
#header .navlist ul { 
    margin: 2px; 
    font-size: 1.2rem; 
    letter-spacing: .2rem; 
    list-style: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center;
    text-align: center; 
}
#header .navlist ul a{
    color: rgb(186, 143, 247); 
    padding: 10px; 
    text-transform: uppercase; 
    text-decoration: none; 
    text-align: center;
    margin: .2rem;
    transition: color 0.4s ease-in-out; 
}

#header .navlist ul li:hover a{
    color:rgb(48, 48, 194);
}


#top  {
    height: 40vh; 
    width: 100%; 
    display: flex; 
    overflow: hidden; 
}
#top .top{
    display: flex;
}
.top .background{
    position: absolute; 
    width: 100%; 
    max-height: 40vh;
    overflow: hidden;
}
.top .background video{
    width: 100%;
}
.top .text{
    margin: 50px 220px;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    padding: 10px; 

}
.text .header{
    float: left; 
    justify-content: center; 
    align-items: center; 
    padding-top: 10px;
}
.top .header h1{
    position: relative;
    color:rgb(186, 143, 247);
    text-transform: uppercase;
    font-size: 3rem;
}
.top .text .download{
    position: relative; 
    float: right;
    justify-content: center; 
    align-items: center; 
}
.text .download button{
    justify-content: center;
    align-items: center; 
    font-size: 1.7rem;
    display: flex; 
    padding: 7px; 
    transition: 1s ease transform; 
    border: 3px solid rgb(186, 143, 247);
    box-shadow: 10px 3px 0px rgb(186, 143, 247);
}
.text .download button:hover{
    background-color: rgb(186, 143, 247);
    box-shadow: 0px 0px 0px rgb(186, 143, 247);

}

#resume{
    width: 100%; 
    height: auto;
    background-color: rgb(186, 143, 247);
    display: flex; 
}
#resume .resume{
    margin: 20px 150px; 
    position: relative; 
    margin-top: -190px;
    background-color: black; 
    display: block; 
    min-height: 32vh;
    box-shadow: 7px 3px 20px 1px rgb(43, 42, 42); 

}
.resume .resume-top{
    background-color: rgb(183, 183, 183);
    display: inline-block;
    width: 100%; 
    align-items: center; 
    overflow: hidden; 
    height: 35vh; 
    flex-direction: row; 
}
.resume-top .left{
    width: 26%;
    justify-content: flex-start; 
    float: left; 
    max-height:39vh;

}
.resume-top .left img{
    align-items: center; 
    width: 50%; 
    top: 0; 
    left: 0; 
    margin: 0 auto; 
    position: relative; 
    width: 100%;
    max-height: 354vh;

}
.resume-top .right{
    flex-direction:row; 
    display: inline-block; 
    width: 71%;
    justify-content: center; 
    text-align: left; 
    max-height: 35vh;
    position: relative; 
    overflow: hidden; 
    padding: 15px;

}
.resume-top .right .header{
    display: inline-block;
    align-items: center; 
    line-height: 2.5rem;
    position: relative;
    margin: 30px 0; 
    width: 50%; 
    padding: 10px;
}
.resume-top .right .header h1{
    font-size: 3.2rem;
    padding-bottom: 10px; 
    text-transform: uppercase;
}
.resume-top .right .links{
    float: right;
    display: inline-block;
    width: 50%; 
    position:relative; 
    padding: 10px 40px;
    overflow: hidden;
}
.resume-top .right .links a{ 
    display: flex; 
    left: 0; 
    padding: 25px 0;
    align-items: center;
    justify-content: flex-start; 

}
.resume-top .right .links img{
    height: 4vh;
    display: inline-block;

}
.resume-top .right .links h1{
    display: inline-block; 
    padding-left: 20px; 
    color:black; 
    align-items: center;
    justify-content: center;
    padding-bottom: 3px; 

}
.resume-top .right .links h1:hover{
    color:blue;
}

.links .mail img{
    height: 6vh;
}
.resume .resume-bottom{
    background-color: white;
    padding: 30px; 
    display: inline-block; 
}
.resume .resume-bottom .top{
    display: block;
    border: 2px solid purple; 
}
.resume-bottom .top h1{
    display: inline-block;
    text-transform: uppercase;
}
.resume .resume-bottom .top .border{ 
    height: 3.5px; 
    width: 87%; 
    margin: 10px 0; 
    margin-left: 20px; 
    overflow: hidden; 
    align-items: center; 
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    display: inline-block; 
    position: relative; 
}
.resume .resume-bottom .left{
    display: inline-block; 
    max-width: 70%; 
    min-width: 60%; 
    position: relative; 
    justify-content: flex-start; 
    margin-top: 10px; 
    overflow: hidden;
}
/*Buttons */
.resume .resume-bottom .left .items{
    display: grid; 
}
.resume-bottom .left .buttons{
    display: inline-block; 
    border: 2px solid red; 
    width: 100%;

}
.resume-bottom .left button{
    display: inline-block; 
    font-size: 1.7rem; 
    text-decoration: none;
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0 70px; 
    padding-left: 0px;
}
.resume-bottom .left button:hover{
    color: rgb(186, 143, 247);
}
.resume-bottom .left .line{
    height: 3.5px; 
    width: 100%; 
    overflow: hidden; 
    align-items: center; 
    justify-content: flex-end; 
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    display: inline-block; 
    position: relative; 
}

/*Content Inside*/
.resume-bottom .left .content {
    display: none; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black; 
    width: 100%;
    height: auto; 
    overflow: hidden; 
    margin-top: 15px;
}
.resume-bottom .left .content .box{
    border-left: 2px solid rgb(186, 143, 247);
    padding: 10px;
    padding-top: 0px;
    margin-right: 0px; 
    padding-right: 0px; 

}
.resume-bottom .left .content .item::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px; 
    border-radius: 50%;
    top: 50;
    left: 0;  
    background-color: white;
    margin-top: 5px;
    margin-left: 1.9px;
    border: 4px solid rgb(186, 143, 247);
    box-shadow:1px 1px 10px 1px rgb(186, 143, 247);
}
.content .item{
    display: block;
    line-height: 2rem;
    margin: 15px 15px;
    margin-top: 0px; 
    padding-top: 0px;
    margin-right: 0px; 
    padding-right: 0px; 

}
.content .item h1{
    font-weight: bold;

}
.content .item h1 span{
    color: rgb(165, 119, 229);
}
.content .item h2{
    
}
.content .item li{
    display: inline-block;
    justify-content: flex-start; 
}




/*Right side of resume*/
.resume-bottom .right {
    width: 25%; 
    border: 2px solid red; 
    display: inline-block; 
    justify-content: flex-end; 
    margin-top: 10px; 
    float: right; 
    clear: both;

}
.resume-bottom .right .skills{
    display: block; 
}
.skills h1{
    font-size: 1.7rem; 

}
.skills .line{
    background-image: linear-gradient(to right, rgb(68, 48, 180), rgb(145, 22, 145));
    height: 3.5px; 
    width: 100%; 
    overflow: hidden; 
    align-items: center; 
    display: block; 
}


/*
#resume{
    height: auto; 
    background-color:darkgray; 
    padding: 10px; 
    width: 100%;
    overflow: hidden; 
}
#resume .resume{
    margin: 0 auto; 
    display: flex; 
    border: 10px solid red;
    text-align: left; 
    align-items: left; 
    justify-content: space-between;
    overflow: hidden; 
}
#resume .resume .left-resume{
    width: 33%;
    border: 3px solid black; 
    position: relative; 
    display: block; 
    height: auto; 
    padding: 20px; 
    margin: 30px 10px; 
    background-image: linear-gradient(lightgray, gray);
    border-radius: 30px; 
}
.left-resume .header{
    overflow: hidden; 
    text-align: center; 
}
.left-resume .header h1{
    font-size: 2.5rem; 
    color:rgb(186, 143, 247);
}
.left-resume .header .profile {
    height: 300px;
    border: 2px solid black;
    border-radius: 50%; 
    margin: 10px 0; 
    justify-content: center;
    align-items: center; 
    right: 50%; 
}
.left-resume .socialmedialink{
    margin: 10px; 
    text-align: center; 
    display: inline-block; 
    align-items: center; 
    justify-content: center; 
}
.left-resume .socialmedialink img{
    height: 36px; 
    margin: 9px; 
    transition: .3s ease transform;
}
.left-resume .socialmedialink img:hover{
    transform: scale(1.2);
}
.left-resume .skills{
    display: block; 
}

#resume .resume .right-resume{
    border: 3px solid purple;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    display: flex; 
    position: relative; 
    text-align: left; 
    width: 65%; 
    padding: 20px; 
    margin: 30px 10px; 
    border-radius: 30px; 
    background-color: black;
}
.right-resume .fullresume {
    display: block; 
    position: relative; 
}
.right-resume .education{
    display: flex; 
    height: auto; 
} 
.right-resume .education .header{
    display: flex; 
    text-align: left; 
    justify-content: left; 
    top: 0; 
    left: 0; 
}
.education .header img{
    filter: invert(1); 
    height: 50px;
}
.education .heder h1{
    text-transform: uppercase; 
}

.education .info{
    display: block; 
    margin: 0 10px;
    padding: 5px; 
    position: relative; 
    line-height: 1.3; 
} 
.education .info .header{
    display: flex; 
    color:rgb(186, 143, 247);
    text-transform: uppercase; 
    font-size: 2rem; 
}
.education .info .university{
    display: block; 
    line-height: 1.5;
}
.education .info .university h1{
    display: inline;
    line-height: 3rem;
}
.education .info .university h2{
    display: inline; 
    float: right; 
    
}
.education .university ul{
    margin: 0 40px;
    line-height: 1.5; 
    font-size: 1.2rem;

}
*/
@media only screen and (min-width: 1200px) {
    .resume .resume-bottom .left{
        width: 70%;
    }
}
