@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=PT+Sans+Caption&family=Poppins:wght@300;400&family=Quattrocento&family=Roboto:wght@100;300;400&display=swap');
* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-size: 15px; 
    font-family: 'Lusitana', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Roboto', sans-serif;
    color: white; 

}
a {
    text-decoration: none; 
}
body { overflow-x: hidden; }

.container {
    width: 100%; 
    display: flex; 
    align-items: cover; 
}
/*Header*/
#header {
    display: flex; 
    position: sticky;
    background-color: transparent; 
    left: 0; 
    top: 0; 
    z-index: 9999;
    width: 100%;
    height: auto;  
    text-align: center; 
    display: flex;
    transition: 0.6s; 
    transition: background-color 0.4s ease-in-out;
}
#header.scrolled{
    background: black; 
}

#header .header {
    background-color: transparent;
    min-height: 8vh; 
    transition: 0.6s; 
    border-bottom: 1px solid lightgray;
    width: 100%; 
}

#header .entire-bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
    padding: 0 12px;
}
#header .entire-bar .upperleft{
    padding: 2px; 
    padding-left: 20px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}
#header .entire-bar .logo img{
    height: 90px;
    width: 90px; 
    top: 0; 
    left: 0; 
    padding: 2px;
    margin: 0 auto; 
}
#header .bigname h1{
    top: 0; 
    right: 0; 
    width: 100%; 
    display: flex; 
    text-transform: uppercase;
    position: relative; 
    text-align: left;
    font-size: 2rem; 
    color: white;
    letter-spacing: .4rem; 
    padding: 10px; 
}

#header .navlist {
    padding: 0 27px; 
    text-align: center; 
    justify-content: center; 
}
#header .navlist ul { 
    margin: 2px; 
    font-size: 1.2rem; 
    letter-spacing: .2rem; 
    list-style: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center;
    text-align: center; 
}
#header .navlist ul a{
    color: rgb(186, 143, 247); 
    padding: 10px; 
    text-transform: uppercase; 
    text-decoration: none; 
    text-align: center;
    margin: .2rem;
    transition: color 0.4s ease-in-out; 
}

#header .navlist ul li:hover a{
    color:rgb(48, 48, 194);
}
