@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=PT+Sans+Caption&family=Poppins:wght@300;400&family=Quattrocento&family=Roboto:wght@100;300;400&display=swap');
* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-size: 15px; 
    font-family: 'Lusitana', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Quattrocento', serif;
    font-family: 'Roboto', sans-serif;
    color: black; 
}
a {
    text-decoration: none; 
}

.container {
    width: 100%; 
    display: flex; 
    align-items: cover; 
}
/*Header*/
#header {
    display: flex; 
    position: sticky;
    background-color: transparent; 
    left: 0; 
    top: 0; 
    z-index: 9999;
    width: 100%;
    height: auto;  
    text-align: center; 
    display: flex;
    transition: 0.6s; 
    transition: background-color 0.4s ease-in-out;
    background-color: black; 
}
#header.scrolled{
    background: black; 
}

#header .header {
    background-color: transparent;
    min-height: 8vh; 
    transition: 0.6s; 
    width: 100%; 
}

#header .entire-bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
    padding: 0 12px;
}
#header .entire-bar .upperleft{
    padding: 2px; 
    padding-left: 20px;
    display: flex;
    justify-content: center; 
    text-align: center; 
    align-items: center; 
}
#header .entire-bar .logo img{
    height: 90px;
    width: 90px; 
    top: 0; 
    left: 0; 
    padding: 2px;
    margin: 0 auto; 
}
#header .bigname h1{
    top: 0; 
    right: 0; 
    width: 100%; 
    display: flex; 
    text-transform: uppercase;
    position: relative; 
    text-align: left;
    font-size: 2rem; 
    color: white;
    letter-spacing: .4rem; 
    padding: 10px; 
}

#header .navlist {
    padding: 0 27px; 
    text-align: center; 
    justify-content: center; 
}
#header .navlist ul { 
    margin: 2px; 
    font-size: 1.2em; 
    letter-spacing: .2em; 
    list-style: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center;
    text-align: center; 
}
#header .navlist ul a{
    color: rgb(186, 143, 247); 
    padding: 10px; 
    text-transform: uppercase; 
    text-decoration: none; 
    text-align: center;
    margin: .2rem;
    transition: color 0.4s ease-in-out; 
}

#header .navlist ul li:hover a{
    color:rgb(48, 48, 194);
}
/*Top*/
#top{
    width: 100%; 
    max-height: 50vh; 
    background-color: black;;
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 
    height: 40vh; 
    width: 100%; 
    display: flex; 
    overflow: hidden; 
}
#top .logo{
    width: 50%; 
    margin: 0 25%; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-image: url("../../Images/4058ED2F-0192-42D7-A5CC-447BEC75A315.PNG");
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 

}

/*Top Bottom*/
#top-bottom{
    width: 100%; 
    height: auto;
    display: flex; 
    background-color:rgb(18, 5, 21);
    overflow: hidden; 
}
#top-bottom .top-bottom{
    margin: 2% 15%; 
    align-items: center; 
    justify-content: left; 
    text-align: left; 
    display: flex; 
}
.top-bottom .text{ 
    color: white; 
    display: block; 
}
.text h1{
    font-size: 3.7rem; 
    text-transform: uppercase;
    color: rgb(186, 143, 247);
}
.text h2{
    font-size: 1.8rem;
    padding: 10px 0; 
    padding-bottom: 15px; 
}
.text a .arrow{
    transition: 1s ease margin-left;
}
.text img{
    filter: invert(1); 
    display: inline-block; 
    align-items: center; 
    height: 4vh; 
}
.text a:hover .arrow{
    margin-left: 10px; 
}

/*Research*/
#info{
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    display: flex; 
}
#info .info{
    justify-content: center; 
    padding: 30px; 
    overflow: hidden;
    display: flex; 
    width: 70%; 
}
.info .texts{
    margin: 3% 15%; 
    display: block;
    justify-content: center; 
    overflow: hidden;
    text-align: center; 
}
.texts .item h1{
    font-size: 2em;
    padding: 10px 0; 
    text-align: left; 
}
.texts .item h2{
    padding: 20px 0; 
    line-height: 1.7em;
    color: rgb(58, 58, 58);
    text-align: left; 
}
.info .item{
    display: block; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    text-align: center; 
}
.item img{
    text-align: center; 
}
#tools .images{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    text-align: center; 
}
#tools img{
    height: 10vh; 
    margin: 2% 6%; 
    display: inline-block;
    justify-content: space-between; 
    align-items: center;
    margin: 20px; 
}
.item .graph1{
    width: 80%; 
}
.item .color-palette{
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1px solid black;
}
.color-palette .color1{
    background-color: black;
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 
    width: 60%; 
    height: 10vh; 
}
.color-palette .color2{
    width: 30%; 
    height: 10vh; 
    background-color: white;
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 
}
.color-palette .color3{
    width: 10%; 
    height: 10vh; 
    background-color: rgb(186, 143, 247);
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 
}
.color-palette .color4{
    width: 10%; 
    height: 10vh; 
    background-color: rgb(18, 5, 21);
    background-size: cover; 
    background-position: center; 
    object-fit: contain; 
}
.item ul{
    padding: 20px 0; 

}
.item li{
    text-align: left; 
    font-size: 1.4em;
    padding-bottom: 10px;
}
.back{
    text-align: center;
}
.back a{
    transition: 1s ease margin-right;
}
.back h1{
    color: black;
}
.back a:hover{
    margin-right: 20px;
}
/*Mobile*/
@media (max-width: 480px) {

}
/*Extra small devices */
@media (max-width: 480px) {

}
/*small tablets */
@media (max-width: 480px) {

}
/*large tablets/laptop*/
@media (max-width: 480px) {

}
/*desktops*/
@media (max-width: 480px) {

}
/*extra large screens*/
@media (max-width: 480px) {

}