* { 
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
html {
    font-size: 15px; 
}
a {
    text-decoration: none; 
}
.container {
    min-height: 50px; 
    width: 100%; 
    display: flex; 
    align-items: cover; 
}
#header {
    position: fixed;
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100vw;
    height: auto;  
}
#header .header {
    min-height: 8px; 
    background-color:aliceblue;
}
#header .entire-bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 100%; 
    max-width: 1300px; 
    padding: 0 10px;
}
#header .bigname h1{
    padding: 30px; 
    text-transform: uppercase;
    font-size: 2rem; 
    color: darkblue; 
    letter-spacing: .4rem; 
}
#header .navlist {
}
#header .navlist ul { 
    font-size: 1.2rem; 
    font-family: Georgia;
    letter-spacing: .2rem; 
    list-style: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    
}
#header .navlist ul a{
    color: black; 
    padding: 10px; 
    text-transform: uppercase; 
    text-decoration: none; 
}
#header .navlist ul li:hover a{
    color:blue;
}

/*HomePage Big*/ 
#home {
    min-height: 675px; 
    background-color:yellow;
    position: relative; 
}
#home .home {
    max-width: 1200px; 
    max-height: 700px; 
    margin: 0 auto; 
    padding: 0 50px; 
    justify-content: flex-start; 
}